*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Navbar*/
.navbar {
  background-color: #f8f9fa;
  color: rgb(65, 65, 65);
  padding: 0.7rem 1rem;
}

.navbar-brand {
  color: rgb(44, 43, 43);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-nav {
  list-style: disc;
  padding: 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 2rem;
}

.nav-link {
  color: rgb(28, 28, 28);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 450;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(135, 135, 135);
}

li {
  list-style: none;
}